* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#logocon {
  position: relative;
  text-align: center;
  padding: 20px;
}
#logocon img {
  position: relative;
  height: 50vh;
  width: 50vh;
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 120px;
}
